.staff-ctn {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  > div {
    min-width: 0;
  }
}
.staff-group {
  padding: 50px 0;
}
.col-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.col-4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}